* { margin:0px; padding:0px;border: 0}
html, body { height: 100%; width: 100%;overflow: hidden;}
.main-container { height: inherit; width: inherit;float: left;background-color: grey}

/* Specify the height explicitly for the child's elements height to work on min-height
ex- .content & #search-form */
.head { width: 100%; height: 1%; min-height:10vh; background-color: black}
.content { width: 100%;height: 1%;min-height:90%;}
#search-form { height: 100%; width:40%; background-color:pink; margin: 0 auto; }

#form-input {display:inline-block;width: 50%;height: 30%}

#left { width: 30%;height:100%;float: left;background-color: pink;overflow: hidden;border: 0.1px solid transparent}
#right { width: 70%;height: 100%;float: right;}
